<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Page Not Found!</h1>

<%- include('includes/end.ejs') %>


https://chat.openai.com/share/e1bbb818-16dc-4872-b510-18a9191c19b6
